version: "3.8"

services:
  node:
    build: ./nodejs
    container_name: node-app-dev

    working_dir: /usr/src/app
    volumes:
      - ./nodejs:/usr/src/app
      - /usr/src/app/node_modules

    environment:
      - NODE_ENV=development
      - PORT=3000

    expose:
      - "3000"

    ports:
      - "3000:3000"

    command: npm run dev
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx-proxy-dev

    ports:
      - "5024:80"

    depends_on:
      - node

    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
