services:
  node:
    build: ./nodejs
    container_name: final-node-app-dev
   
    working_dir: /app
    volumes:
      - ./nodejs:/app
      - /app/node_modules
      - forum-data-dev:/data

    environment:
      - NODE_ENV=development
      - PORT=3000
      - DATABASE_PATH=/data/forum.dev.db

    expose:
      - "3000"

    ports:
      - "3000:3000"

    command: npm run dev
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: final-nginx-proxy-dev
    ports:
      - "5034:80"
    depends_on:
      - node

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
  
volumes:
  forum-data-dev:
