services:
  node:
    build: ./nodejs
    container_name: node-app
    environment:
      - PORT=3000
    expose:
      - "3000"
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "5024:80"
    depends_on:
      - node
    networks:
     - app-network

networks:
  app-network:
