services:
  node:
    build: ./nodejs
    container_name: final-node-app
    environment:
      - PORT=3000
      - DATABASE_PATH=/data/forum.db
    expose:
      - "3000"
    networks:
      - app-network
    volumes:
      - forum-data:/data

  nginx:
    build: ./nginx
    container_name: final-nginx-proxy
    ports:
      - "5034:80"
    depends_on:
      - node
    networks:
     - app-network

networks:
  app-network:

volumes:
  forum-data:
