<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/images/logo/wild-west-logo.ico">
  <meta charset="UTF-8">
  <title>Less Wild West Forum</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const flashes = document.querySelectorAll(".flash-message");
    if (!flashes.length) return;

    setTimeout(() => {
      flashes.forEach(el => {
        el.style.transition = "opacity 0.4s ease";
        el.style.opacity = "0";

        setTimeout(() => el.remove(), 400);
      });
    }, 3000);
  });
</script>

<body>
  {{> nav}}

  <main>
    {{{body}}}
  </main>

  {{> footer}}
</body>
</html>
