<section class="poster">
  <div class="poster-header">
    <h2 class="poster-title">Login</h2>
  </div>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <form action="/login" method="POST">
    <label style="display:block; margin-bottom:10px;">
      Username:
      <input type="text" name="username" value="{{username}}">
    </label>

    <label style="display:block; margin-bottom: 10px;">
      Password:
      <input type="password" name="password">
    </label>

    <div class="poster-actions">
      <button type="submit">Login</button>
    </div>
  </form>
</section>

