<section class="poster">
  <div class="poster-header">
    <h2 class="poster-title">New Comment</h2>
  </div>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <form action="/comment/new" method="POST">
    <label style="display:block; margin-bottom:14px;">
      Comment:
      <textarea name="content"></textarea>
    </label>

    <div class="poster-actions">
      <button type="submit">Post Comment</button>
    </div>
  </form>
</section>
