<nav class="nav">
  <div class="nav-inner">
    <a class="nav-brand" href="/">Less Wild West Forum</a>

    <div class="nav-links">
      <a href="/chat">Chat</a>
      <a href="/comments">Comments</a>

      {{#if isLoggedIn}}
        <a href="/comment/new">New Comment</a>
        <a class="nav-user" href="/profile">Howdy, {{currentUser.display_name}}</a>
        <form action="/logout" method="POST" class="nav-form">
          <button type="submit" class="nav-btn">Logout</button>
        </form>
      {{else}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      {{/if}}
    </div>
  </div>
</nav>

