<nav>
  <a href="/">Home</a>
  <a href="/comments">Comments</a>

  {{#if isLoggedIn}}
    <span>Howdy, {{currentUser.username}}</span>
    <a href="/comment/new">New Comment</a>
    <form action="/logout" method="POST" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>
<hr>
